<div data-role="view" id="contactSearchView" data-title="Contact Search">
	<header data-role="header">
		<div data-role="navbar">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-role="view-title"></span>
		</div>
	</header>
    <div id="contactSearchViewContent" data-role="content">
        <div id="contactSearchCriteria">
            <p>
                <label style="display: inline-block;">Search For:</label>
                <input type="radio" id="selClient" value="client"   name="srchFor" checked />Client
                <input type="radio" id="selProspect" value="prospect" name="srchFor"  />Prospect
            </p>
            <p>
                <label style="display: inline-block;">Search By:</label>
                <input type="radio" id="selDemo" value="srchByDemo"   name="srchBy" checked />Demographic Information
                <input type="radio" id="selAcct" value="srchByAcctno" name="srchBy"  />Account #
                <input type="radio" id="selRepCode" value="srchByRepCode" name="srchBy"  />Rep Code
            </p>
            <p>
                <label for="txtLname" style="display: inline-block;">Last Name:</label>
                <input type="text" id="txtLname" value="" />
                <label for="txtFname" style="display: inline-block;">First Name:</label>
                <input type="text" id="txtFname" value="" /><br/>           
                <label for="txtCity" style="display: inline-block;">City:</label>
                <input type="text" id="txtCity" value="" />
                <label for="txtState" style="display: inline-block;">State:</label>
                <input type="text" id="txtState" value="" />
                <label for="txtZip" style="display: inline-block;">Zip:</label>
                <input type="text" id="txtZip" value="" />
                <a id="btnSearch" data-role="button" data-click="searchContact">Search</a>
                 
            </p>            
        </div>
	        
        <div id="tblDiv">
            <table id="contactSearchResultGrid" style="display:none" >              
                <!--<thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Acct.#
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            City
                        </th>                       
                        <th>
                            State
                        </th>
                        <th>
                            Zip
                        </th>                        
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>-->
                <tbody id="contactSearchResultBody">
                    <!--<tr>
                        <td colspan="8"></td>
                    </tr>-->
                </tbody>
            </table>    
         </div>
        
        <script id="contactSearchResultRowTemplate" type="text/x-kendo-template">
            <tr>            
                <td><a href="\#hhSnapshotView?hhId=#: hh_id #">#: lname #, #: fname #</a></td>  
                <td>#: type #</td>
                #if(acct_no == ""){# 
                    <td>NA</td> 
                #}else{# 
                    <td>#: acct_no#</td>
                #}#                
                <td>#: phone #</td>
                <td>#: city #</td>
                <td>#: state #</td>
                <td>#: zip #</td>                
                <td></td>
                
           </tr>
        </script>
        
	</div>
</div>