<div data-role="view" id="recentContactsView" data-title="Recent Contacts" data-show="getContactList">
	<header data-role="header">
		<div data-role="navbar">
            <a id="btnContactSearch" data-role="button" href="views/contactSearchView.html" 
                 data-align="left" data-icon="search"></a>
            <span data-role="view-title"></span>
		</div>
	</header>
    <div id="recentcontactViewContent" data-role="content">		
        <ul data-role="listview" id="contactlist" data-style="inset" ></ul>   
    </div>	
 </div>
   
    <script type="text/x-kendo-template" id="contact-list-template">
            <!--<a href="">hello</a>-->
            <!--<a href="\#hhSnapshotView?hhId=\#= myName \#"> \#= myName </a>-->
            <a data-role="detailbutton" data-style="rowdelete" data-click="removeSubReddit" data-id="${id}" class="delete"></a>
    </script>



<div data-role="view" id="hhSnapshotView" data-title="Household Snapshot" data-align="left" data-show="getHHSnapshot" >
	<header data-role="header">
		<div data-role="navbar">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-role="view-title"></span>
		</div>
	</header>
    
    <div id="hhSnapshotViewContent" data-role="content">
        <ul data-role="listview" data-style="inset" data-type="group">
            <li>
                Household Members
                <ul data-role="listview" id="hhlist" data-style="inset"></ul>
            </li>
     
            <li>
                Accounts
                <ul data-role="listview" data-style="inset">  
                    <li>
                        <h3>Internal Accounts</h3>
                        <ul data-role="listview" id="intAccts"></ul>                          
                    </li>
                    <li>
                         <h3>External Accounts</h3>                             
                         <ul data-role="listview" id="extAccts"></ul>
                    </li>
                </ul>
             </li>
        </ul>
	</div>
</div>

    


