body
{
    font: Arial, sans-serif;
}

.buttonArea,
.footerText,
#geoLocationContainer,
#helloWorldInput,
#helloWorldText
#contactSearchCriteria
#btnSearch
{
    text-align: center;
}

#txtName
{
    border: 1px solid #AAA;
    border-radius: 15px;
    position:static;
    margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:white;
    color: black;
    padding: 7px;
}

.sectionTitle
{
    font-size: 18px;
    font-weight: bold;
    color: #CCCCCC
}

.listviewGroupTitle
{
    font: bold 18px;
    color: #B2B2B2;
    
}

.gridGroupTitle
{
    font-size: 16px;
    font-weight: bold
}

.gridHeader
{
    font:bold 14px;
    color: #7B7B7B;
    text-align:left
}

.gridGroupFooter
{
    
}

.gridFooter
{
    
}

#txtLname
{
    width: 300px;
    font-size: 18px;
    margin-top:15px;
    margin-bottom:20px
    
}
.gridData
{
    font-size: 18px
}

.details-link
{
    margin-top: -lem;
    position: absolute;
    right: 0.6em;
    top: 20%;
    width: 1em;
}

.contact-type
{    
    font-size: .85em;
    font-style: italic;
    line-height: 1em;
    margin: 0 0 0 .95em;
    width: 45%;
    color: brown
}